#content {
    width: 100%;
    padding: 50px 10px 60px 10px;
    background-image: url("https://source.unsplash.com/featured/?music");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.container{
    margin-top: 50px;
    /*margin-bottom: 50px;*/
    padding: 0;
    /*width: 90%;*/
    background: rgba(255,255,255,0.8);
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);


}
.box {
    border: 1px solid black;
}
#user-card {
    margin-left: 50px;
    padding:10px;
    margin-bottom: 20px;
}
#user-card .avatar,
.publication-row .avatar{
    background: #EEEEEE;
    border-radius: 500px;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: 20px;
    border: 2px #efefef solid;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2), 1px 1px 4px rgba(0,0,0,0.3);


}
#timeline{
    /*margin-right: 50px;*/
    margin-left: 55px;
    min-height: 750px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#timeline:before, #timeline:after  {

    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
#timeline:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

.box-header{
    border-bottom: 1px solid black;
    padding: 10px;
    padding-top: 0px;
    font-size: 25px;
}

#new-publication {
    margin-right: 20px;
    margin-bottom: 20px;
    min-height: 325px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#user-card .avatar img,
.publication-row .avatar img{
    height: 100%;
    text-align: center;
}

#user-card .avatar img.default{
   opacity: 0.5;
}

#user-card .name {
    float: left;
    font-size: 20px;
    padding: 20px;
}

#user-card .name .role {
    opacity: 0.5;
}

#user-card .name a{
  color: black;
}

#user-card .my-following-data {
    width: 20%;
    float: left;
    text-align: center;
    padding: 10px;
    margin-top: 5px;
}
#user-card .my-following-data a {
    color: #444;
}
#user-card .my-following-data a :hover {
    color: black;
    text-decoration: none;
}

#user-card .my-following-data .label-stat {
    display: block;
}


.publication-row .publication-row-content {
    padding: 25px;
    margin-left: 85px;
}

#new-publication input,
#new-publication textarea {
    margin-bottom: 10px;
}

.pub-name-link {
    font-weight: bold;
    color: black;
}

.pub-date {
    color: gray;

}
.icons{
    margin: 10px 0 0 0;
}

.like  {
    font-size: 20px;
    /*margin-top: -30px;*/
}

.like .btn-like:hover {
    color: red;
    cursor: pointer;
}

.like .btn-dislike:hover {
    color: black;
    cursor: pointer;
}

.like .active {
    color: red;
}

.spoti-content {
    width: 100%;
    text-align: center;
    margin-top: 30px;

}