.intro{
    display: table;
    width: 100%;
    height: 100vh;
    margin-top: 0 !important;
    text-align: center;
    color: white;
    background: url("https://source.unsplash.com/featured/?music") no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#content {
    padding:0px 0px 0px 0px;
    margin-top: -100px;
}

.footer {margin-bottom: 0px}
