/*html {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*overflow: auto;*/

/*}*/
/*#content {*/

    /*background-color: rgba(247,247,247,0.9);*/
    /*height:100%;*/
/*}*/

/*HEADER NAV */

.navbar-collapse .avatar {
    background: white;
    border-radius: 500px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}
.navbar-collapse .avatar img {
    height: 100%;
    text-align: center;
}