
body {
    width: 100%;
    height: 100%;
    font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

/* HEADER NAV */

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #000;
    color: #42dca3;
}

.navbar-custom .navbar-toggle {
    color: #fff;
    font-size: 12px
}

.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
    outline: 0
}

.navbar-collapse .avatar {
    background: white;
    border-radius: 500px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
}
.navbar-collapse .avatar img {
    height: 100%;
    text-align: center;
}

.container-fluid {
    margin: 0 auto;
    padding: 0;
    width: 85%;
}

p {
    margin: 0 0 25px;
    font-size: 12px;
    line-height: 1.5;
}
@media (min-width: 768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}
a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}
.intro .intro-body .brand-heading {
    font-size: 40px;
    text-shadow: 2px 2px 8px #000000;
}
.intro .intro-body .intro-text ,.created-by{
    font-size: 18px;
    text-shadow: 2px 2px 8px #000000;
}
@media (min-width: 768px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro .intro-body .brand-heading {
        font-size: 100px;
    }
    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn {
    text-transform: uppercase;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-radius: 0;
}
.btn-default {
    border: 1px solid #42dca3 !important;
    color: #42dca3 !important;
    background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3 !important;
    outline: 0;
    color: #000 !important;
    background-color: #42dca3!important;
}


footer {
    background-color: #2d2d30;
    color: #42DCA3;
    padding: 32px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}
.social li a:hover {
    opacity: 0.5;
}

.social  {
    list-style:none;
}
.social li {
    display: inline;
    padding: 15px;
}

.fa {
   font-size: 20px;
}