#content{
    /*background-image: url("https://source.unsplash.com/featured/?music");*/
    background: black;
    width: 100%;
    min-height: 1100px;
    padding: 100px 10px 60px 10px;
    margin :0 auto;
    border: 1px black solid;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/* USER PROFILE PAGE */
.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 150px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 190px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}


/*OLD*/

.form-style{
    padding:50px;
    background: rgba(255,255,255,0.8);
    border-radius: 10px;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
h2 {
    font-size: 50px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: black;
    font-weight: 700;

}

.title {
    color: grey;
    font-size: 18px;
}


.publication-row .publication-row-content {
    padding: 10px;
    margin-left: 20px;
}

#new-publication input,
#new-publication textarea {
    margin-bottom: 10px;
}

.pub-name-link {
    font-weight: bold;
    color: black;
}
.fa {
    font-size: 16px;
}
.pub-date {
    color: gray;

}
.about-me{
    margin-top: 40px;
}

.image{
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    border: 5px #efefef solid;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2), 1px 1px 4px rgba(0,0,0,0.3);
}

.number-stat{
    font-size: 60px;

}
@media only screen and (max-width: 768px) {
    .number-stat{
        font-size: 40px;
    }
    .label-stat{
        font-size: 15px;
    }
}
