#content{
    /*background-image: url("https://source.unsplash.com/featured/?music");*/
    background-color: black;
    width: 100%;
    min-height: 100vh !important;
    height: auto;
    padding: 50px 10px 60px 10px;
    margin :0 auto;
    border: 1px black solid;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.container {
    padding-top: 50px;


}

.box-default {
    padding-top: 5px;
    border: 1px solid #ccc;
    float: none
}

.user-item .avatar {
    background: #eee;
    border-radius: 550px;
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
    overflow: hidden;
    float: left;
}

.user-item .avatar img {
    height: 100%;
    text-align: center;

}

.src-image {
    display: none;
}

.card {
    overflow: hidden;
    position: relative;
    border: 1px solid #1d9b6c;
    border-radius: 8px;
    text-align: center;
    padding-bottom: 30px;
    background-color: #284c79;
    color: rgb(136, 172, 217);
    margin:10px;
}

.content-text-name{
    color: white;
}
.header-bg {
    background-image: url("https://source.unsplash.com/featured/?nature");
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.card .header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px #FFF solid;
    z-index: 1;
}
.card .avatar {
    position: relative;
    margin-top: 5px;
    z-index: 100;
}

.card .avatar img {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(0,0,30,0.8);
}
