.margin-bottom {
    margin-bottom: 20px;
}
.panel-body {
    color: black;
}
.number-stat {
   font-size:  30px
}

@media only screen and (max-width: 768px) {
    .number-stat{
        font-size: 40px;
    }
    .label-stat{
        font-size: 15px;
    }
    .panel-body {
        text-align: center;
    }
}
