<div class="col-xs-10 text-center">
    <input type="hidden" data-uri="{{ uri|default(0) }}">
    <iframe style="width:400px;" class="spoti-iframe" src="https://open.spotify.com/embed?uri={{ uri|default('spotify:track:42HXtxLgWx0t4DuDWyMgMd') }}" width="300" height="100" frameborder="0" allowtransparency="true"></iframe>
</div>

