<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <h1>MELOMANIACS</h1>
        </header>
        <section id="content">
            {% block content %}{% endblock %}
        </section>
        <footer>
            <p>Melomaniacs - Alex Albàs</p>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
