{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/landing.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Melomaniacs</h1>
                        <h3 class="intro-text">Music that shares you.</h3>
                            <br><p class="created-by">Created by Alex Albàs</p>
                        {% if authUrl is defined and authUrl is not empty%}
                            <a href="{{ authUrl }}" class="btn btn-default btn-lg">
                                <span class="fa fa-google">
                                    Google Login
                                </span>
                                &nbsp;
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
