{% extends "base.html.twig" %}

{% block content %}
    {% if authUrl is defined and authUrl is not empty%}
        <a class='login' href='{{ authUrl }}'>Connect Me!</a>
    {% endif %}
{% endblock %}
